# Ignore Python virtual environments
venv/
envs/
__pycache__/

# Ignore Conda environment folders
*.conda
*.env
*.ipynb_checkpoints
backend/.env

# Ignore dependencies
backend/__pycache__/
backend/.venv/

# Node modules (React)
frontend/node_modules/
frontend/.env.local

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and environment variables
*.log
.env
